<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1051264793446-sn26od5ta1njvl6mfqijui71c7o535uu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1051264793446-sn26od5ta1njvl6mfqijui71c7o535uu</string>
	<key>API_KEY</key>
	<string>AIzaSyCUBcbvaRaQcF2udJsg7mJzL2NdaAmukwk</string>
	<key>GCM_SENDER_ID</key>
	<string>1051264793446</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.higor.lojavirutal.lojavirtual</string>
	<key>PROJECT_ID</key>
	<string>lojaflutter-75189</string>
	<key>STORAGE_BUCKET</key>
	<string>lojaflutter-75189.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1051264793446:ios:0295b3a37ff64023afa6a7</string>
</dict>
</plist>